<h1>Chi tiết sản phẩm</h1>
<form [formGroup]="productForm">
  <div [formGroup]="productForm">
    <table>
      <tr>
        <td>Tên sản phẩm: </td>
        <td><input type="text" formControlName="title" readonly></td>
      </tr>
      <tr>
        <td>Giá sản phẩm: </td>
        <td><input type="number" formControlName="price" readonly></td>
      </tr>
      <tr>
        <td>Mô tả về sản phẩm: </td>
        <td><input type="text" formControlName="description" readonly></td>
      </tr>
    </table>
  </div>
</form>
